In [1]:
import os
import pandas as pd

In [2]:
cwd = os.getcwd()
files = os.listdir(cwd)
print(files)

['.ipynb_checkpoints', 'Dark triad.ipynb', 'dataset', 'README.md']

In [3]:
data = pd.read_csv("dataset/dark_triad.csv")

In [5]:
data.head(10)

,Self-perceived attractiveness,Number of sexual partners,Mate value,"Sex (0 = male, 1 = female)",Machiavellianism,Narcissism,Psychopathy
0,4,3,21,0,32,32,30
1,3,4,21,0,30,23,27
2,2,12,18,0,24,19,28
3,1,10,16,0,33,21,24
4,3,1,22,0,22,24,14
5,3,3,21,0,14,29,25
6,4,4,20,0,12,27,23
7,3,10,24,0,35,36,23
8,4,0,18,0,16,21,19
9,3,0,17,0,30,16,22

In [8]:
data.shape

(210, 7)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Self-perceived attractiveness  210 non-null    int64
 1   Number of sexual partners      210 non-null    int64
 2   Mate value                     210 non-null    int64
 3   Sex (0 = male, 1 = female)     210 non-null    int64
 4   Machiavellianism               210 non-null    int64
 5   Narcissism                     210 non-null    int64
 6   Psychopathy                    210 non-null    int64
dtypes: int64(7)
memory usage: 11.6 KB

## Preprocessing

In [9]:
def preprocess(df):
    df = df.copy()
    
    #Sex preprocess
    
    return df

In [10]:
X = preprocess(data)